*{
    margin: 0;
    padding: 0;
}

.oferta-container{
    background-color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oferta-container p{
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}
li {    
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background-color: rgb(255, 255, 255);
    height: 170px;
    border-bottom: 1px solid #efefef;
    /* box-shadow: ; */
}
header nav {
    height: 100%;
}
/* color de fondo del main #efefef */

.title_container{
    height: 47.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.title{
    font-family: 'Italiana', serif;
    text-transform: uppercase;
}
.title a {
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.list {
    height: 47.5px;
    display: flex;
    justify-content: center;
}
.list li {
    font-size: 11px;
    margin: 0 30px;
    text-transform: uppercase;
}
.ancore_list{
    color: rgb(0, 0, 0);
}
